html {
	width: 360px;
}

#feedContainer{
	white-space: nowrap;
}

.feed-item {
	display: block;
	text-overflow: ellipsis;
	overflow-x: hidden;
	
	text-decoration: underline;
}

.feed-item:hover {
	cursor: pointer;
}

.ui-accordion-header-active {
    color: #0073ea; /* same as .ui-state-default */
}

.error {
    font-style: italic;
    color: red;
}

.panel-heading .ui-icon {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
}

.contains-unread {
	color: red;
}
.contains-unread.ui-state-hover:not(.ui-accordion-header-active) {
	color: yellow;
}

.unread {
	color: red !important; /* overwrite the browser settings */
	font-weight: bold;
}