<html ng-app="app" ng-csp>
	<head>
        <!-- jQuery & jQueryUI -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://code.angularjs.org/angular-aria.js"></script>
        <script src="https://code.angularjs.org/angular-animate.js"></script>

        <link rel="stylesheet" href="https://code.angularjs.org/angular-csp.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>


        <!-- Application -->
        <script src="js/utilities.js"></script>
		<script src="js/options/Options.js"></script>
        <script src="js/Feed.js"></script>
        <!--<script src="js/options/FeedList.js"></script>-->
		<link rel="stylesheet" href="css/popup.css">

        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="app/chromeStorage.js"></script>
        <script type="text/javascript" src="app/chromeLocale.js"></script>
        <script src="app/FeedList.js"></script>
        <script type="text/javascript" src="app/RssListCtrl.js"></script>
	</head>
	<body ng-controller="RssListCtrl">
        <div id="feedContainer">
            <uib-accordion>
                <div uib-accordion-group class="panel-default" ng-repeat="feed in feedList">
                    <uib-accordion-heading>
                        <div ng-class="{'contains-unread': feed.unreadItems.length != 0, 'error': feed.errorMessage}">
                            <span ng-if="feed.errorMessage" class="ui-icon ui-icon-alert"></span>{{feed.name}}<span ng-if="feed.unreadItems.length != 0 && !feed.errorMessage"> ({{feed.unreadItems.length}})</span>
                        </div>
                    </uib-accordion-heading>
                    <div ng-if="feed.errorMessage" title="{{feed.errorMessage}}" class="error">{{feed.errorMessage}}</div>
                    <div class="feed-item-list-container" ng-if="!feed.errorMessage">
                        <div class="feed-actions">
                            <button ng-click="feed.readAll()"><i class="material-icons md-18">done_all</i></button>
                            <button><i class="material-icons md-18">done</i></button>
                            <div><md-icon md-svg-icon="icon-home"></md-icon></div>
                        </div>
                        <div class="feed-item" ng-repeat="item in feed.items" title="{{item.description}}" ng-class="{unread: item.state == 0, read: item.state == 1}" ng-click="openFeed(feed, item)">{{item.title}}</div>
                    </div>
                </div>
            </uib-accordion>
            <button ng-if="debug" ng-click="check()">check</button>
            <button ng-if="debug" ng-click="feedList.update()">update</button>
        </div>
	</body>
</html>