<html ng-app="app" ng-csp>
	<head>
        <!-- jQuery & jQueryUI -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.6.4/angular-aria.js"></script>
        <script src="https://code.angularjs.org/1.6.4/angular-animate.js"></script>

        <link rel="stylesheet" href="https://code.angularjs.org/1.6.4/angular-csp.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>


        <!-- Application -->
        <script src="js/utilities.js"></script>
        <script src="js/options/Options.js"></script>
        <script src="js/Feed.js"></script>
        <!--<script src="js/options/FeedList.js"></script>-->
        <link rel="stylesheet" href="css/popup.css">

        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="app/chromeStorage.js"></script>
        <script type="text/javascript" src="app/chromeLocale.js"></script>
        <script src="app/FeedList.js"></script>
        <script type="text/javascript" src="app/SettingsCtrl.js"></script>
		
		<script src="js/settings.js"></script>
		<link rel="stylesheet" href="css/settings.css">
	</head>
	<body ng-controller="SettingsCtrl">
        <a href="/tests/tests.html" target="_blank">Tests</a><br/>

		<div class="center">
			<h2 class="list-title center-text">Feeds</h2>
			<div class="list" id="feed-list">
                <div ng-repeat="feed in feedList" title="{{feed.url}}" value="{{feed.url}}" class="list-item" ng-class="{'ui-selected': selected === feed}" ng-click="select(feed)">
                    {{feed.name}}
                </div>
            </div>
			<div id="feedManagementButtons">
				<button id="addNewFeedButton" chrome-locale="addNewFeedButton"></button>
				<button id="editFeedButton" chrome-locale="editFeedButton" ng-disabled="!selected"></button>
				<button id="deleteFeedButton" ng-click="remove()" chrome-locale="deleteFeedButton">Delete</button>
			</div>
		</div>

		<div id="feedDialog" class="dialog">
			<input type="hidden" id="feedID">
			<div class="row">
				<label for="feedName" chrome-locale="feedNameDialog"></label>
				<input type="text" id="feedName" ng-model="selected.name">
			</div>
			<div class="row">
				<label for="feedURL" chrome-locale="feedURLDialog"></label>
				<input type="text" id="feedURL" ng-model="selected.url">
			</div>
		</div>
	</body>
</html>